/*************************************************/
/****************** Media Querys *****************/
/*************************************************/

@media screen and (min-width: 576px) {
    /*###############################################*/
    /*################# Hébergement #################*/
    /*###############################################*/
  
    #accommodation {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    #accommodation h2 {
      flex-basis: 100%;
    }
  
    #accommodation article {
      flex-basis: 45%;
    }
  
    #accommodation > a {
      flex-basis: 100%;
    }
  
    #accommodation .style_card {
      margin: 10px;
    }
  
    /*###############################################*/
    /*################# activitées ##################*/
    /*###############################################*/
  
    #activity h2 {
      flex-basis: 100%;
    }
  
    /*###############################################*/
    /*################## footers ####################*/
    /*###############################################*/
  
    footer {
      justify-content: center;
    }
  
    footer div {
      width: 100%;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    /*###############################################*/
    /*################# search_bar ##################*/
    /*###############################################*/
  
    .fa-search {
      display: none;
    }
  
    #btn_search span {
      display: flex;
    }
  
    /*###############################################*/
    /*############# les plus populaire ##############*/
    /*###############################################*/
  
    #popular aside {
      display: flex;
      flex-direction: column;
    }
  
    #popular article {
      flex-basis: 75%;
      align-items: center;
      width: 750px;
      align-self: center;
    }
  
    /*###############################################*/
    /*################# Hébergement #################*/
    /*###############################################*/
  
    #accommodation article {
      flex-basis: 30%;
    }
  
    /*###############################################*/
    /*################# activitées ##################*/
    /*###############################################*/
  
    .activity-column {
      width: 50%;
    }
  
    /*###############################################*/
    /*################## footers ####################*/
    /*###############################################*/
  
    footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .footer_info {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 992px) {
    /*###############################################*/
    /*################# search_bar ##################*/
    /*###############################################*/
  
    .fa-search {
      display: none;
    }
  
    #btn_search span {
      display: flex;
    }
  
    /*###############################################*/
    /*############# les plus populaires #############*/
    /*###############################################*/
  
    #popular {
      border-radius: 20px 20px 20px 20px;
      margin: 0.5rem;
    }
  
    /*###############################################*/
    /*################# Hébergement #################*/
    /*###############################################*/
  
    #accommodation {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #f2f2f2;
      border-radius: 20px 20px 20px 20px;
      margin: 0.5rem;
    }
  
    #accommodation h2 {
      flex-basis: 100%;
    }
  
    #accommodation article {
      flex-basis: 30%;
    }
  
    #accommodation > a {
      flex-basis: 100%;
    }
  
    /*###############################################*/
    /*################# activitées ##################*/
    /*###############################################*/
  
    .activity-column {
      width: 25%;
    }
    /*###############################################*/
    /*################## footers ####################*/
    /*###############################################*/
  
    footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .footer_info {
      width: 100%;
      flex-direction: row;
    }
  }
  
  @media screen and (min-width: 1200px) {
    /*###############################################*/
    /*################## Hearder ####################*/
    /*###############################################*/
  
    header,
    main {
      max-width: 1400px;
      margin: auto;
    }
  
    header img {
      justify-content: flex-start !important;
    }
  
    header a {
      order: 1;
      justify-content: flex-end;
    }
  
    header nav {
      flex-basis: unset !important;
      width: calc(100% - 200px);
      display: flex;
      justify-content: flex-end;
    }
  
    header nav ul li {
      border-top: 3px solid #f2f2f2;
      border-bottom: none;
      margin-right: 3rem;
    }
  
    header nav ul li:hover, header nav ul li.menu-active {
      border-top: 3px solid #0065fc;
      border-bottom: none;
    }
  
    /*###############################################*/
    /*################# Hébergement #################*/
    /*###############################################*/
  
    #accommodation {
      width: 66%;
    }
  
    /*###############################################*/
    /*###### Hebergement et les plus populaires #####*/
    /*###############################################*/
    .accommodation_and_popular {
      display: flex;
      flex-direction: row-reverse;
    }
  
    /*###############################################*/
    /*############# les plus populaires #############*/
    /*###############################################*/
  
    #popular {
      width: 33%;
    }
  
    #popular article {
      width: 100%;
    }
  
    /*###############################################*/
    /*################# activitées ##################*/
    /*###############################################*/
  
    #activity .activity-column-double .activity-img img {
      max-height: 300px;
    }
  
    /*###############################################*/
    /*################## footers ####################*/
    /*###############################################*/
  
    footer {
      margin: auto;
    }
  
    .footer_info {
      width: 1300px;
    }
  
    footer div {
      text-align: start;
    }
  }
  