* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* ###Hearder### */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header > img {
  margin-left: 1rem;
}

header > a {
  color: #0065fc;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
}

nav {
  width: 100%;
  margin: 0;
}

.test > li {
  width: inherit;
  text-align: center;
}

.test > li:hover {
  color: #0065fc;
  border-bottom: 2px solid #0065fc;
  width: inherit;
}

.test {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #f2f2f2;
}

li > a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0 0 0.5rem 0;
}

li > a:hover {
  color: #0065fc;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-weight: bold;
}
/*########## */

/* ###main### */

main {
  margin: 1rem;
}

/* ### Search_Bar ### */

#search_bar {
  text-align: justify;
}

#search_bar > form {
  display: flex;
  justify-content: center;
  align-self: center;
}

form {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

#search {
  height: 40px;
  width: 250px;
  border-left: none;
  border-right: none;
  border: 2px #f2f2f2 solid;
}

.btn-search {
  background-color: #0065fc;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin-right: 50px;
  border: none;
}

.fa-search {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsearch {
  display: none;
}

/* ########## */

/* ###Filters### */

#filters > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.list_items > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border: 2px #f2f2f2 solid;
  border-left: none;
  border-radius: 50px;
  margin-top: 0.5rem;
}

li > p {
  margin-left: 10px;
  margin-right: 10px;
}

.fas-icon {
  background-color: #d6ecfd;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fas-icon {
  color: #0065fc;
}

#filters > p {
  margin-top: 0.5rem;
}

/* ########## */

/* ###les plus populaires### */

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ########## */

/* ###Hébergements### */

a {
  margin: 1rem;
}

/* ########## */

/* ###Footers### */

h3 {
  margin: 1rem;
}

/* ###main### */
