* {
  box-sizing: border-box;
}

/* ###Hearder### */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header > img {
  margin-left: 1rem;
}

header > a {
  margin-right: 1rem;
}

nav {
  width: 100%;
  margin: 0;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*########## */

/* ###main### */

/* ### Search_Bar ### */

#search_bar {
  text-align: justify;
  margin: 5px 16px 5px 16px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* ########## */

/* ###Filters### */

#filters {
  margin: 5px 16px 5px 16px;
}

#filters > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ########## */

/* ###les plus populaires### */

h2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

/* ########## */

/* ###Hébergements### */

a {
  margin: 1rem;
}

/* ########## */

/* ###Footers### */

h3 {
  margin: 1rem;
}

ul {

}


/* ###main### */
